{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link href="{%static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{%static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet"> 
{% endblock %}

{% block content %}
<main>
    <!-- Hero Start -->
    <div class="container-fluid bg-primary hero-header mb-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <h3 class="fw-light text-white animated slideInRight">Safe & Easy</h3>
                    <h1 class="display-4 text-white animated slideInRight">Find <span class="fw-light text-dark">Storage</span> For All Your Harvest</h1>
                    <p class="text-white mb-4 animated slideInRight">Providing farmers an accessible way to store, manage
                        and mantain their crops, ensuring fresh storage and a hassle-free retrieval of crops. 
                    </p>
                    {% if request.user.is_authenticated %}
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-dark py-2 px-4 me-3 animated slideInRight">Log In</a> 
                    <a href="{% url 'register' %}" class="btn btn-outline-dark py-2 px-4 animated slideInRight">Sign Up</a>
                    {% endif %}

                </div>
                <div class="col-lg-6">
                    <img class="img-fluid animated pulse infinite" src="{%static '/img/logo-color.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Feature Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="feature-item position-relative bg-primary text-center p-3">
                        <div class="border py-5 px-3">
                            <i class="fa fa-leaf fa-3x text-dark mb-4"></i>
                            <h5 class="text-white mb-0">Farmer Friendly</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="feature-item position-relative bg-primary text-center p-3">
                        <div class="border py-5 px-3">
                            <i class="fa fa-tint-slash fa-3x text-dark mb-4"></i>
                            <h5 class="text-white mb-0">Protection Against Weather</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="feature-item position-relative bg-primary text-center p-3">
                        <div class="border py-5 px-3">
                            <i class="fa fa-times fa-3x text-dark mb-4"></i>
                            <h5 class="text-white mb-0">No Wastage of Crops</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <img class="img-fluid animated pulse infinite" src="{%static 'img/crop1.jpg' %}">
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="text-primary mb-4">Garden-Fresh Crops <span class="fw-light text-dark">Delivered To Each Door-Step</span></h1>
                    <p class="mb-4">Be part of the solution for more efficient, sustainable, and profitable crop storage. By choosing planned storage methods, you not only secure your financial future but also participate in a global movement towards responsible and efficient agricultural practices.</p>
                    <p class="mb-4">We understand the importance of efficient crop management, and our system is designed to help farmers and warehouse owners reduce crop wastage significantly. By implementing a well-thought-out storage plan, you not only preserve the quality of your crops but also maximize your profits while contributing to sustainable agriculture practices.</p>
                    <!-- <a class="btn btn-primary py-2 px-4" href="">Shop Now</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Feature Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="text-primary mb-3"><span class="fw-light text-dark">Benefits Of </span> Sustainable Storage 
                </h1>
            </div>
            <div class="row g-4 align-items-center">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="row g-5">
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Preserving Crop Quality</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Proper storage conditions, including temperature and humidity control, ensure that your crops remain fresh, nutritious, and free from mold and pests..</span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Maximizing Profits</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>With reduced crop wastage and spoilage, you can maximize your profits.</span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Risk Mitigation</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Crop storage planning also helps mitigate the risks associated with unpredictable weather patterns and market fluctuations.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <img class="img-fluid animated pulse infinite" src="{%static 'img/crop2.jpg' %}">
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="row g-5">
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Enhancing Food Security</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Effective crop storage systems not only benefit individual farmers and warehouse owners but also contribute to global food security. </span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Reduced Losses and Waste</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>By storing your crops efficiently, you can drastically reduce losses due to spoilage, damage, or pests. </span>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="btn-square rounded-circle border flex-shrink-0"
                                style="width: 80px; height: 80px;">
                                <i class="fa fa-check fa-2x text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h5>Extended Market Reach</h5>
                                <hr class="w-25 bg-primary my-2">
                                <span>Planned crop storage isn't limited to immediate use; it empowers you to tap into extended market opportunities.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


</main>
{% endblock content %}