<!DOCTYPE html>
{%load static %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Login And Sign up form by | Asadbek</title>
      <link rel="stylesheet" href="{% static 'css/pass_reset.css'%}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="wrapper">

         <div class="logo" style="text-align:center;">
            <img src="{% static 'img/logo-color.png' %} ">
         </div>

         <div class="title-text">
            <div class="title login">
               Password Reset Sent
            </div>
         </div>

         <div>
            <p>We've emailed you instructions for setting your password, you should receive them shortly.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

            <!-- If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder. -->
         </div>
      </div>
   </body>
</html>
