body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction:column;
  background: url("/images/bg.png");
	justify-content: center;
	align-items: center;
	min-height: auto;
	font-family: 'Jost', sans-serif;
	background-color:#90bc79;
}
.main{
	width: 500px;
	height: 650px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	margin-bottom:100px;
}

.logo{
	margin-bottom:30px;
}

.logo img{
	width:150px;
	border-radius:75px;
}

#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.Phone{
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.Phone .std{
	width:4%;
}
.Phone .std{
	margin:0;
}
.Phone .Noo{
	margin-right:0;
	margin-left:3px;
	margin-top:0;
	margin-bottom:0;
}

.Phone .Noo{
	width:32%;
}

input{
	width: 40%;
	height: 20px;
	background: #ffffff;
	justify-content: center;
	display: flex;
	margin: 15px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #000;
	background: none;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	
	transition: .2s ease-in;
	cursor: pointer;
}
.signup button{
  border: solid;
	border-radius: 5px;
}

.signup button:hover{
	background: #000;
  border-color:#000;
  color:white;
}

.login button{
  border: solid;
  border-color:#90bc79;
	border-radius: 5px;
}

.login button:hover{
	background: #80c55c;
}
.login{
	height: 700px;
	background: #fff;
	border-radius: 60% / 10%;
	transform: translateY(-100px);
	transition: .8s ease-in-out;
}
.login label{
	color: #000000;
	transform: scale(.6);
}

.login input{
  background-color:#eee;

}

#chk:checked ~ .login{
	transform: translateY(-620px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}


footer {
	background-color: #fff;
	color: #333;
	text-align: center;
	padding: 20px 0;
	width:100%;
}

.footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer-content p {
	flex: 1;
	margin: 0;
}

nav {
	flex: 2;
}

nav a {
	color: #333;
	text-decoration: none;
	margin: 0 10px;
}

.social-media-icons {
	flex: 1;
	text-align: right;
}

.social-media-icons a {
	color: #333;
	text-decoration: none;
	margin: 0 10px;
}