{% extends 'base.html' %}
{% load static %}
{% block title %}StoreEZ | Add Unit{% endblock title %}

{% block css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Warehouse/css/addunits.css' %}"/>
{% endblock css%}

{% block content %}
<div class="page-content" style="flex-direction: column">
    {% if messages %}
        <script>
            function closeAlert(element) {
                var alert = element.parentElement;
                alert.style.display = 'none';
            }
        </script>
        {% for message in messages %}
            {% if message.tags == "success" %}
            <div class="alert success-alert">
                <h3>Success Alert Message</h3>
                <a class="close">&times;</a>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert danger-alert">
                <h3>{{message}}</h3>
                <a class="close" onclick="closeAlert(this)">&times;</a>
            </div>
            
            {% else %}
            <div class="alert warning-alert">
                <h3>Warning Alert Message</h3>
                <a class="close">&times;</a>
            </div>
            {% endif %}
    
        {% endfor %}
    {% endif %}
    <div class="form-v10-content">
        <form class="form-detail" id="myform" method="post" {# enctype="multipart/form-data" #} >
            {% csrf_token %}
            <div class="form-left">
                <h2>Warehouse Infomation</h2>
                <div class="form-row">
                    <P>{{warehouse.name|capfirst}}</P>
                    <P>{{warehouse.city|capfirst}}, {{warehouse.state|capfirst}}</P>
                </div>
                <div class="form-row">
                    <P>Person In Charge: {{warehouse.poc_name}}, Ph: +91 {{warehouse.poc_phone_no}}</P>
                </div>

            </div>
            
            <div class="form-right">
                <h2>Unit Information</h2>
                <div class="form-row">
                    <!-- <input type="text" name="address" class="street" id="address" placeholder="Unit type" required> -->
                    <select id="type" name="type">
                    <option value="Hot">Standard</option>
                    <option value="Cold" >Temperature Controlled</option>
                    </select>
                </div>
                <div class="form-row">
                    <input type="number" name="capacity" min="1" placeholder="Capacity(cubic meter)" required>
                </div>
                <div class="form-row">
                    <input type="number" placeholder="Price(₹ per day)" name="price" step=".01" min="0.01" required>
                </div>

                <div class="form-row-last">
                    <input onclick="location.href='{% url 'all_units' id %}'" type="submit" name="cancel" class="cancel" value="Cancel">
                    <button class="save-button">
                        Add unit
                      </button>
                    <!-- <input type="submit" name="register" class="register" value="Confirm"> -->
                    
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js%}
    <script defer src="{% static 'Warehouse/script/register.js' %}"></script>
{% endblock%}