{% extends 'base.html' %}
{% load static %}
{% block title %}Warehouse | Add Unit{% endblock title %}
{% block css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'Warehouse/css/addunits.css' %}">
{% endblock %}

 {% block content %}

 {% if messages %}
        <script>
            function closeAlert(element) {
                var alert = element.parentElement;
                alert.style.display = 'none';
            }
        </script>
        {% for message in messages %}
            {% if message.tags == "success" %}
            <div class="alert success-alert">
                <h3>Success Alert Message</h3>
                <a class="close">&times;</a>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert danger-alert">
                <h3>{{message}}</h3>
                <a class="close" onclick="closeAlert(this)">&times;</a>
            </div>
            
            {% else %}
            <div class="alert warning-alert">
                <h3>Warning Alert Message</h3>
                <a class="close">&times;</a>
            </div>
            {% endif %}

        {% endfor %}
    {% endif %}

  <div class="body">
    <div style="flex:1">
    </div>
    <div class="main-form">
        <div class="title">
            <p style="font-size:30px;">
              Add Unit
            </p>
        </div>
      <form class="fill-form" method = "POST">
        {% csrf_token %}
        
        <div class="namee">
            <label for="unit-type">Unit Type</label><br>
            <select id="type" name="type">
              <option value="Hot">Standard</option>
              <option value="Cold" >Temperature Controlled</option>
            </select>
          
        </div>
        
        <div id="div2">
          <label for="capacity">Capacity(m<sup>3</sup>)</label><br>
          <input type="number" placeholder="Capacity" name="capacity" min="1" required>  
        </div>
        
        <div id="div6">
          <label for="price">Price(₹ per day)</label><br>
          <input type="number" required placeholder="Price" name="price" step=".01" min="0.01"> 
        </div>

        <div id="div7" style="display:flex; flex-direction:row; justify-content:space-around; align-items: center;">
          <div style="flex:1;">
            <button class="save-button" onclick="location.href='{% url 'all_units' id %}'" type='button'> Cancel </button>
          </div>
          <div style="flex:1;">
            <button class="save-button">
              Add unit
            </button>
          </div>
        </div>
      </form>
    </div>
      
    <div style="flex:1;">
    </div>
  </div>


  {% endblock %}