{% extends 'base.html' %}
{%load static %}
{% block title %}Warehouse {{warehouse.id}} | All units{% endblock title %}
{%block css%}
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
<!-- <link rel='stylesheet' href='https://rawcdn.githack.com/SochavaAG/example-mycode/master/_common/css/reset.css'> -->
<!-- <link rel="stylesheet" href="{% static 'Warehouse/newstyles.css' %}  "> -->
<link rel="stylesheet" href="{% static 'Warehouse/css/all_units.css' %}">

{% endblock %}
{% block content %}

{% comment %} {{units}} {% endcomment %}
  <div class="box">
    <div class="top-box">
      <div> 
        <h2>{{warehouse.name|title}} details: </h5>
        <h6 >Location - {{warehouse.city|title}}, {{warehouse.state|title}}</h6>
        <h6>Standard: </h6>
        <h6>Temp-controlled: </h6>
      </div>
    </div>
  </div>
  <div class="container mt-2">
        
        
        <div class="midddle-box">
          <div class="row" style="display:flex;
          flex-direction:row;
          justify-content:center;
          align-items:center;">
            <div class="" style="flex:4;">
              <h4> All Units ({{ units.count }})</h5> 
            </div>
            <div class="button-class" style="flex:1; display:flex; flex-direction:row; justify-content:space-between; align-items:center;">
              <div class="" style="margin-right:10px">
                <button class="add-unit-butt" style="background-color: #557C55;  height:auto; border-radius:10px; padding-right:10px; padding-left:10px; padding-top:10px; padding-bottom:10px;">
                  <a class="" href=" {% url 'addunit' warehouse.id %}" style="color:white;">Add Unit</a>
                </button>
              </div>
              
              <div class="" style="">
                <button class="remove-unit-butt" style="background-color: #557C55; 
                width:auto; height:auto; border-radius:10px; padding-right:10px; padding-left:10px;
                padding-top:10px; padding-bottom:10px;">
                  <a class="" href="{% url 'removeunit' warehouse.id %}" style="color:white;">Remove Unit</a>
                </button>
                
              </div>
            </div>
            
          
          </div>
        </div>
        
        
      <div class="row">
        {% for unit in  data%}
        <div class="col-xl-3 col-md-3 col-sm-6 col-6">
          <div class="ag-courses_item">
            <a href="{% url 'unit' warehouse.id unit.id %}" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Unit {{unit.id}}
              </div>
      
              {% if unit.type == "Hot" %}
              <div class="ag-courses-item_date-box">
                Standard
              </div>
              {% else %}
              <div class="ag-courses-item_date-box">
                Temp-controlled
              </div>
              {% endif %}
              <div class="ag-courses-item_date-box">
                Capacity: {{ unit.capacity }} m<sup>3</sup>
              </div>
              <div class="ag-courses-item_date-box">
                ₹{{ unit.price }} per day
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      
  </div>

  <nav aria-label="..."style="color: blue;">
    <ul class="pagination pagination-sm justify-content-center" ">
      {% if data.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a> </li>
      <li class="page-item"> <a class="page-link" href="?page={{data.previous_page_number}}">Previous</a> </li>
      {% endif %}
      
      {%for i in nums %}
      <li class="page-item "><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>{{i}}
      {%endfor%}
  
      <li class="page-item disabled><a href="#" class="page-link">{% if data.has_next %}</a></li>
  
      <li class="page-item"><a class="page-link" href="?page={{data.next_page_number}}">Next</a> </li>
      {% endif %}
  
    </ul>
  </nav>
{% endblock content %}