{% extends 'base.html' %}
{% load static %}
{% load jenil_multiply_tag %}
{% block title %} Warehouse | Booking {% if booking.id %}{{booking.id}}{% else %}???{% endif %} {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'Warehouse/css/Invoice.css' %}">

{% endblock %}
{% block content %}

{% if messages %}
        <script>
            function closeAlert(element) {
                var alert = element.parentElement;
                alert.style.display = 'none';
            }
        </script>
        {% for message in messages %}
            {% if message.tags == "success" %}
            <div class="alert success-alert">
                <h3>Success Alert Message</h3>
                <a class="close">&times;</a>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert danger-alert">
                <h3>{{message}}</h3>
                <a class="close" onclick="closeAlert(this)">&times;</a>
            </div>

            {% else %}
            <div class="alert warning-alert">
                <h3>Warning Alert Message</h3>
                <a class="close">&times;</a>
            </div>
            {% endif %}

        {% endfor %}
{% else %}

<section id='invoice'>
  <div class="invoice px-1 px-lg-5">
    <div class="header">
      <div class="i_row">
        <div class="i_logo">
          <p>StoreEZ</p>
        </div>
        <div class="i_title">
          <h2>INVOICE</h2>
          <div class="date">
          <p class="p_title text_right">
            {{booking.date}}
          </p>
        </div>
        </div>
      </div>
      <div class="container d-flex flex-nowrap">
      <div class="i_row fsize">
        <div class="i_number">
          <p class="farmername fsize">Name: {{farmer}}</p>
          <p class="bookingid fsize">Booking ID: {{booking.id}}</p>
          <p class="mobileno fsize">Phone No: {{farmer.phone_no}}</p>
        </div>
        <div class="date_details" style="margin-left:1em;">
            <p class="bookedfrom fsize">Start Date: {{booking.start_date}}</p>
            <p class="booked till fsize">End Date: {{booking.end_date}}</p>
        </div>
        <div class="i_address text_right">

          <p class="p_title">

            <div class="warehouse name">
              <div class="address fsize">
                Warehouse Name:{{warehouse.name}}
              </div>
            </div>


            <span class="fsize"> [Warehouse ID: {{warehouse.id}} ]</span><br>

            <span class="fsize">POC Name: {{warehouse.poc_name}}</span> <br>
            <span class="fsize">POC no: {{warehouse.poc_phone_no}}</span>

            <div class="address">
              <p class="fsize">Address : {{warehouse.address}}</p>
            </div>

            <span>{{warehouse.city}},</span>
            <span>{{warehouse.state}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
    <div class="body">
      <div class="i_table">
        <div class="i_table_head">
          <div class="i_row">
            <div class="i_col w_20">
              <p class="p_title"style="word-wrap: break-word">Unit ID</p>
            </div>
            <div class="i_col w_20">
              <p class="p_title"style="word-wrap: break-word">Unit Type</p>
            </div>

            <div class="i_col w_20">
              <p class="p_title" style="word-wrap: break-word">Capacity(m<sup>3</sup>)</p>
            </div>
            <div class="i_col w_20">
              <p class="p_title"style="word-wrap: break-word">Price(₹)/day</p>
            </div>
            <div class="i_col w_20">
                <p class="p_title"style="word-wrap: break-word">Total Days</p>
              </div>
            <div class="i_col w_20">
              <p class="p_title"style="word-wrap: break-word">Total Price(₹)/day</p>
            </div>
          </div>
        </div>
        {% for unit in all_booked_units %}

        <div class="i_table_body">
          <div class="i_row">
            <div class="i_col w_20">
              <p style="word-wrap: break-word">{{unit.id}}</p>
            </div>
            <div class="i_col w_20">
              <p style="word-wrap: break-word">{% if unit.type == "Hot" %}Standard{% else %}Temp-controlled {% endif %}</p>
            </div>
            <div class="i_col w_20">
              <p style="word-wrap: break-word">{{unit.capacity}}</p>
            </div>
            <div class="i_col w_20">
              <p style="word-wrap: break-word">{{unit.price}}</p>
            </div>
            <div class="i_col w_20">
              <p style="word-wrap: break-word">{{total_days}}</p>
            </div>
            <div class="i_col w_20">
              <p style="word-wrap: break-word">{{total_days | multiply:unit.price}}</p>
            </div>
          </div>

        </div>
        {% endfor %}

        <p style="padding-top:5px">Description: {{booking.description}} </p>



        <div class="i_table_foot">
          <div class="i_row grand_total_wrap">
            <div class="i_col w_50">
            </div>
            <div class="i_col w_50 grand_total" id='grand_total'>
              <p><span>GRAND TOTAL :</span>
                <span>{{price}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      {% comment %} <div class="i_row">
        <div class="i_col w_100">
          <p class="p_title">Payment Method</p>
          <p>Card/UPI/NetBanking</p>
        </div>
      </div> {% endcomment %}
      <div class="i_row">
        <div class="i_col w_50">
          <button class="btn btn-light" style="background-color: rgb(1, 108, 15); color: #fff;"
          onclick="location.href='{% if back %}{{back}}{% else %}{% url 'warehouses' %}{% endif %}'"
          type='button'>
          <span>Back</span>
          </button>
        </div>
        <div class="i_col w_50" style="text-align: right;">
          <button class="btn btn-light" style="background-color: rgb(1, 108, 15); color: #fff;"
          onclick="DownloadPDF('invoice')"
          type='button'>
          Download PDF
          </button>

        </div>
      </div>
    </div>
  </div>
</section>
{%endif%}
<!-- <button class="btn btn-light btn-lg mg m-2 pb-1" onclick="location.href='{% if back %}{{back}}{% else %}{% url 'warehouses' %}{% endif %}'" type='button'> Back </button>
<button class="btn btn-light btn-lg mg m-2 pb-1" onclick="DownloadPDF('invoice')" type='button'> Download PDF </button> -->

{%endblock%}

{% block js %}
  <script type='text/javascript'>
    function DownloadPDF(p) {
      var full_body = document.body.innerHTML;
      var invoice_body = document.getElementById(p).innerHTML;
      document.body.innerHTML = invoice_body;
      document.getElementById("grand_total").style = "color:green; font-size: larger; background-color:rgb(1, 108, 15)"; // BG-color is not working
      Array.from(document.getElementsByClassName('btn')).forEach(element => element.style.display = 'none');
      window.print();
      document.body.innerHTML = full_body;
    }
  </script>
{% endblock js %}