{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'Warehouse/css/singleunit.css'%}">
{% endblock %}
{% block content %}

<div class="info-row">
    <div class="ab">
      <div class="ind-row">
        <b>
          Warehouse Associated: 
        </b> {{ warehouse.name }}
        
      </div>
      <div class="ind-row">
        <b>
          Unit Type: 
        </b> {{ unit.type }}
      </div>
      <div class="ind-row">
        <b>
          Unit Capacity: 
        </b> {{ unit.capacity }}
      </div>
      <div class="ind-row">
        <b>
          Unit Price: 
        </b> ₹{{ unit.price }}
      </div>
    </div>
  </div>


  <div class="wrapperr">
    <div class="table-container">
      <table>
        <tr class="table-heading">
          <th>Booking Reference No.</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Description</th>
          <th>Booked by</th>
          <th>Booking Status</th>
        </tr>
        {% for booking in current_booking %}
        <tr class="not-heading">
          <td data-cell="Booking Number" style="width:15%;"> {{booking.id}} </td>
          <td data-cell="Start Date">{{ booking.start_date}}</td>
          <td data-cell="End Date">{{ booking.end_date}}</td>
          <td data-cell="Description" style="width:40%;">{{ booking.description}}</td>
          <td data-cell="Booked By">{{ booking.farmer}}</td>
          <td class="on-going" data-cell="Booked Status" class="on-going"><b>On going</b></td>
        </tr>
        {% endfor %}
        

        {% for booking in prev_booking %}
        <tr>
          <td data-cell="Booking Number" style="width:15%;"> {{booking.id}} </td>
          <td data-cell="Start Date">{{ booking.start_date}}</td>
          <td data-cell="End Date">{{ booking.end_date}}</td>
          <td data-cell="Description" style="width:40%;">{{ booking.description}}</td>
          <td data-cell="Booked By">{{ booking.farmer}}</td>
          <td class="completed" data-cell="Booked Status"><b>Completed</b></td>
        </tr>
        {% endfor %}

      </table>
    </div>
  </div>

{% endblock %}
