{% extends 'base.html' %}
{% load static %}
{% block title %}Warehouse {{warehouse.id}}| Bookings{% endblock title %}
{% block css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'Warehouse/css/warehouse_bookings.css' %}">
{% endblock css%}

{% block content %}

  <div class="wrapperr">
    <div class="box">
      <div class="top-box">
        <div> 
          <h2>Warehouse [{{warehouse.id}}] details: {{warehouse.name}} </h2>
          <h5>Address: {{warehouse.address}} </h5>
          <h5>{{warehouse.city}}, {{warehouse.state}} </h5>
          <h5>Point of Contact - {{warehouse.poc_name}} [{{warehouse.poc_phone_no}}]</h5>
        </div>
      </div>
    </div>

    <div class="table-container">
      <table>
        <tr class="table-heading">
          <th>Booking Reference No.</th>
          <th>Start Date</th>
          <th>End Date</th>
          <!-- <th>Description</th> -->
          <th>Booked by</th>
          <th>Contact No.</th>
          <th>Booking Status</th>
        </tr>
        {% for booking,farmer in data %}
        <tr>
          <td data-cell="Booking Number" style="width:15%;"> <a href="{% url 'warehouse_invoice' booking.id %}?back={{request.build_absolute_uri}}">Booking {{booking.id}} </a> </td>
          <td data-cell="Start Date"> {{booking.start_date}}</td>
          <td data-cell="End Date"> {{booking.end_date}}</td>
          <!-- <td data-cell="Description" style="width:40%;">{{booking.description}}</td> -->
          <td data-cell="Booked By">{{farmer}}</td>
          <td data-cell="Contact No.">{{farmer.phone_no}}</td>
          <td class="completed" data-cell="Booked Status"><b>Completed</b></td>
        </tr>
        {% endfor %}

      </table>
    </div>
  </div>


  <nav aria-label="..."style="color: blue;">
    <ul class="pagination pagination-sm justify-content-center" ">
      {% if data.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a> </li>
      <li class="page-item"> <a class="page-link" href="?page={{data.previous_page_number}}">Previous</a> </li>
      {% endif %}
      
      {%for i in nums %}
      <li class="page-item "><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>{{i}}
      {%endfor%}
  
      <li class="page-item disabled><a href="#" class="page-link">{% if data.has_next %}</a></li>
  
      <li class="page-item"><a class="page-link" href="?page={{data.next_page_number}}">Next</a> </li>
      {% endif %}
  
    </ul>
  </nav>
  {% endblock %}