.outer-box{
    /* width: 100%; */
    padding-left: 0%;
    padding-right: 0%;
}

.bg-primary{
    background-color: black;
}

.bg-dgreen{
    background-color: #435334;
}

.bg-green{
    background-color: #9EB384;
}       

.bg-grey{
    background-color: #FAF1E4;
}

.flex-end{
    align-self: flex-end;
}

.font-large{
    color: white;
    font-size: 2.5em;
    text-align: center;
}

.border-none{
    border: none;
}

.spacing-none{
    margin:0;
    padding:0;
}

.bg.primary{
    background-color: aqua;
}

.rempad{
    border-radius: 50%;
}

