<!DOCTYPE html>
{%load static %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Login And Sign up form</title>
      <link rel="stylesheet" href="{% static 'signup.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      
<!-- For Aler messages -->
      {% if messages %}    
         {% for message in messages %}
            {% if message.tags == "success" %}
            <div class="alert success-alert">
               <h3>Success Alert Message</h3>
               <a class="close">&times;</a>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert danger-alert">
               <h3>{{message}}</h3>
               <a class="close" onclick="closeAlert(this)">&times;</a>
            </div>
            
            {% else %}
            <div class="alert warning-alert">
               <h3>Warning Alert Message</h3>
               <a class="close">&times;</a>
            </div>
            {% endif %}

         {% endfor %}
      {% endif %}

      <div class="wrapper">
         <!-- For Title -->
        {% if page == 'register' %}
         <div class="title-text">
            <div class="title signup">
               Signup
            </div>
         </div>
         {% else %}
         <div class="title-text">
            <div class="title signup">
               Log In
            </div>
         </div>
         {% endif %}

         <div class="form-container">
            <!-- Logo -->
            <div class="logo" style="text-align:center;">
               <img src="{% static 'img/logo.jpg' %}">
            </div>

            <div class="form-inner">

            {% if page == 'register' %}
                <form action="" method="POST" class="signup">
                    {% csrf_token %}
                    <div class="field">
                       <input type="email" placeholder="Email Address" name="email" required>
                    </div>
                    <div class="field">
                       <input type="password" placeholder="Password" name="password1" required>
                    </div>
                    <div class="field">
                       <input type="password" placeholder="Confirm password" name="password2" required>
                    </div>
                    <div class="slide-controls">
                        <input type="radio"  id="farmer" name="user" value="0" checked >
                        <input type="radio"  id="Warehouse_Owner" name="user" value="1">
                        <label for="farmer" class="slide farmer">Farmer</label>
                        <label for="Warehouse_Owner" class="slide Warehouse_Owner">Warehouse Owner</label>
                        <div class="slider-tab"></div>
                    </div>
                    <div class="field btn">
                       <div class="btn-layer"></div>
                       <input type="submit" value="Signup">
                    </div>
                    <div class="signup-link">
                        Already a member? <a href="{% url 'login' %}">LogIn now</a>
                     </div>

                </form>

            {% else %}
                <form action="" class="login" method="POST">
                {% csrf_token %}
                  <div class="field">
                     <input type="email" placeholder="Email Address" name="username" required>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Password" name="password" required>
                  </div>
                  <div class="pass-link">
                     <a href="{% url 'reset_password' %}">Forgot password?</a>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Login">
                  </div>
                  <div class="signup-link">
                     Not a member? <a href="{% url 'register' %}">Signup now</a>
                  </div>
               </form>
            
            {% endif %}

            <form action="#">
                <div>
                   <input>
                </div>
             </form>
            </div>
         </div>
      </div>
      <script src="{% static 'js/signup.js'%}"></script>
   </body>
   
</html>