{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoreEZ | Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <div class="modal">
            <main>
                <section class="container login-section">
        
                    <div class="login">
                        <div class="grid-two-coloumn">
                            <div class="left">
                                <h2>Alredy have an account!</h2>
                                <p>Log in and continue your jorney!</p>
                                <button class="login-btn"><a href="{% url 'register' %}">LogIn Here</a></button>
                            </div>
        
                            <div class="login-right">
                                <h2>Sign Up</INp></h2>
                                <br>
                                <!-- <form action="" method="POST">
                                    <div class="input-field">
                                        <p><label for="email"><b>Email</b></label></p>
                                        <input type="text" placeholder="Enter Email" name="email" required>
                                    </div>

                                    <div class="input-field">
                                        <label for="psw"><b>Password</b></label>
                                        <input type="password" placeholder="Enter Password" name="password1" required>
                                    </div>

                                    <div class="input-field">
                                        <label for="psw-repeat"><b>Repeat Password</b></label>
                                        <input type="password" placeholder="Repeat Password" name="password2" required>
                                    </div>

                                    <div class="input-field">
                                        <legend>Select a user type:</legend>
                                          
                                        <div>
                                            <input type="radio" id="huey" name="user" value="1" checked />
                                            <label for="huey">Warehouse Owner</label>
                                        </div>
                                          
                                        <div>
                                            <input type="radio" id="dewey" name="user" value="0" />
                                            <label for="dewey">Farmer</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="signupbtn">Sign Up</button>
                                </form> -->
                                <form action="" method="POST">
                                    {% csrf_token %}

                                    <div class="input-field">
                                        <label for="email"><b>Email</b></label>
                                        <input type="text" placeholder="Enter Email" name="email" required>
                                    </div>
                                    
                                    <div class="input-field">
                                        <label for="psw"><b>Password</b></label>
                                        <input type="password" placeholder="Enter Password" name="password1" required>
                                    </div>
                                
                                    <div class="input-field">
                                        <label for="psw-repeat"><b>Repeat Password</b></label>
                                        <input type="password" placeholder="Repeat Password" name="password2" required>
                                    </div>
                                
                                    <div class="input-field">
                                        <fieldset>
                                            <legend>Select a user type:</legend>
                                          
                                            <div>
                                              <input type="radio" id="Warehouse_Owner" name="user" value="1" checked />
                                              <label for="Warehouse_Owner">Warehouse Owner</label>
                                            </div>
                                          
                                            <div>
                                              <input type="radio" id="Farmer" name="user" value="0" />
                                              <label for="Farmer">Farmer</label>
                                            </div>
                                          </fieldset>
                                    </div>
                                    
                                    <button type="submit" class="signupbtn">Sign Up</button>
                                </form>
                            </div>
        
                        </div>
                    </div>
                </section>
            </main>
        </div>
      </div>
      <!-- <script src = "./JS/script.js"></script> -->
</body>

</html>