{% extends 'farmerbase.html' %} 
{% load static %}
{% block title %} StoreEZ | Book {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'farmer/tableunit.css' %}">
<!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" /> -->
<link rel="stylesheet" href="{% static 'farmer/style5.css' %}">
<link rel="stylesheet" href="{% static 'farmer/css/cascade.css' %}" />

{% endblock %}



{%block content%}


<div class="outer-box container-fluid " >
  <div class="bg-dgreen">
      <div class="bg-dgreen py-3 d-flex flex-column justify-content-end align-items-center mb-4 rempad">
          <div class="font-large"> <h2 class="text-center ff" style="font-size: 100%; text-decoration-line:none; -webkit-text-fill-color: white;">Select Number of Units to Book</h2><h4 style="color:white">Warehouse {{id}}</h4>
            <h5 style="color:white">Dates range: {{startdate}} - {{enddate}}</h5></div>
          <div class="w-100">
          </div>
          
        </div>
    </div>

<!-- <body style="background-color: #90bc79; background-image: url('{% static "farmer/bg.png" %}');"> -->


  <!-- <div class="container rounded-4 text-white my-5" style="background-color: #25381b; background-image: url('{% static "farmer/bg.png" %}');">
    <div class="container mx-5 p-5"> -->
      <form action="" method="post">
        {% csrf_token %}
        <!-- <div class="table-layout">
          <h1 class="text-center ff" style="font-size: 210%">Select Number of Units to be Booked</h1>
        </div> -->

        <div class="table-layout">
        <table class="table table-hover table-striped" style="border-radius:20px;  background-image: url({%static 'farmer/bg.png' %})">
          <thead>
            <tr>
              <th scope="col">Units</th>
              <th scope="col">Type</th>
              <th scope="col">Capacity</th>
              <th scope="col">Price (₹)</th>
              
            </tr>
          </thead>
          {% for unit in units %}
          <tbody>
            <tr>
              <th><input class="form-check-input" name="checkbox" type="checkbox" value="{{unit.id}}">
                <label class="form-check-label ff" for="defaultCheck1" style="font-size: 138%;">
                  Unit {{unit.id}}
                </label></th>
                <td>{{unit.type}}</td>
              <td>{{unit.capacity}}</td>
              <td>{{unit.price}}</td>
            </tr>
          </tbody>
          {% endfor %}
          </table>
        </div>

      <!-- {% for unit in units %}
        <div class="form-check py-3">
          <input class="form-check-input" name="checkbox" type="checkbox" value="">
          <label class="form-check-label ff" for="defaultCheck1" style="font-size: 160%;">
            Unit {{unit.id}}
          </label>
        </div>
      {% endfor %} -->
      <div id="totalPriceDisplay" class="p-2" style="font-size:20px">
      </div>

        <div class="form-group pb-2 redw">
          <label class="py-3 ff m-2 pb-2" for="formGroupExampleInput" style="font-size: 160%;">Description</label>
          <input type="text" class="form-control"  name="description" id="formGroupExampleInput"
            placeholder="Provide description for your warehouse">
        </div>

        <div>
          <input type="submit" class="btn btn-light btn-lg mg m-2 pb-2">
        </form>
          {% comment %} <a href="{% url 'search' %}"> <b>Cancel</b></a> {% endcomment %}
        <form action="{% url 'search'%}" method="get">
          {% csrf_token %}
          <input type="hidden" id="id_startdate" name="startdate" value="{{startdate}}">
          <input type="hidden" id="id_startdate" name="enddate" value="{{enddate}}">
          <button class="btn btn-light btn-lg mg m-2 pb-2" onclick="location.href='{% url 'search' %}'" type='submit'> Cancel </button>
        </form>
          {% comment %} <button type="button" class="btn btn-light btn-lg ">Submit</button> {% endcomment %}
        </div>
    </div>
  </div>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      ////// Total Price
      function calculateTotalPrice() {
        var totalUnitsPrice = 0;
        var selectedUnits = document.querySelectorAll('input[name="checkbox"]:checked');
  
        selectedUnits.forEach(function (unit) {
          var unitPrice = parseFloat(unit.parentNode.nextElementSibling.nextElementSibling.nextElementSibling.innerText);
          totalUnitsPrice += unitPrice;
        });
        //start date and end date have id's
        //id_startdate and id_enddate
        var startDate = {{startdate}};
        var endDate = {{enddate}};
  
        // input field with the id "totalPrice" to display the result
        // var days = calculateDays(startDate, endDate);
        var days = {{total_days}}
        var totalPrice = totalUnitsPrice * days;
  
        /// showing the total price in the div
        var totalPriceDisplay = document.getElementById('totalPriceDisplay');
        totalPriceDisplay.innerText = 'Price/day: ₹ ' + totalUnitsPrice + '\nDays: ' + days + '\nTotal Price: ₹ ' + totalPrice.toFixed(2);
      }
  
      //calculates total range between dates
      function calculateDays(startDate, endDate) {
        var start = new Date(startDate);
        var end = new Date(endDate);
        var timeDifference = end - start;
        var days = Math.floor(timeDifference / (1000 * 3600 * 24));
        return days;
      }
  
      //when checkboxes are ticked it takes that into account
      var checkboxes = document.querySelectorAll('input[name="checkbox"]');
      checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', calculateTotalPrice);
      });

      //function for showing if no units are selected and farmer clicks on submit button
      function checkUnitsSelection(event) {
        var selectedUnits = document.querySelectorAll('input[name="checkbox"]:checked');
        if (selectedUnits.length === 0) {
          alert('You must choose at least one unit');
          event.preventDefault(); // Prevent form submission
        }
      }
  
      var form = document.querySelector('form');
      form.addEventListener('submit', checkUnitsSelection);
    });
  </script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
{% endblock %}