<p> Farmer: {{farmer}} </p>
<p> Farmer Phone no: {{farmer.phone_no}}
<p> Booking id: {{booking.id}} </p>
<p> Farmer ID: {{farmer.id}} | Warehouse ID: {{warehouse.id}} </p>
<p> Date of booking: {{booking.date}}</p>
<p> Start Date: {{booking.start_date}} </p>
<p> End Date: {{booking.end_date}}  </p>
<p> Warehouse: {{warehouse.name}}, {{warehouse.city}}, {{warehouse.state}}</p>
<p> Warehouse Address:  {{warehouse.address}}</p>
<p> Point of contact: {{warehouse.poc_name}}, Phone no: {{warehouse.poc_phone_no}} </p>
<p> Total Units Booked: {{total_units}}</p>
<table>
    <thead>
        <tr>
            <th>Unit ID</th>
            <th>Capacity</th>
            <th>Type</th>
            <th>Price/day</th>
        </tr>
    </thead>
    {% for unit in all_booked_units %}
    <tbody>
            <tr>
                <td>{{unit.id}}</td>
                <td>{{unit.capacity}}</td>
                <td>{{unit.type}}</td>
                <td>{{unit.price}}</td>
            </tr>
        </tbody>
    {% endfor %}
<table>
<p>Description: {{booking.description}} </p>
<p>Total Days: {{total_days}}</p>
<p>Total Price per day: {{per_day_price}}</p>
<p><b>Total Price: {{price}} </b><P>
    <button onclick="location.href='{% url 'farmer_currentbooking' %}'" type='button'> Back </button>