{% extends 'farmerbase.html' %} 
{% load static %}
{% block title %} Farmer | CurrentBooking{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'farmer/styleprev.css' %}">
<!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" /> -->
<link rel="stylesheet" href="{% static 'farmer/css/cascade.css' %}" />
{% endblock %}
Template Stylesheet
<link href="styleprev.css" rel="stylesheet">

{%block content%}
<div class="outer-box container-fluid " >
  <div class="bg-dgreen">
      <div class="bg-dgreen py-3 d-flex flex-column justify-content-end align-items-center mb-4 rempad">
          <div class="font-large"> <h1 class="text-center ff" style="font-size: 130%; text-decoration-line: none; -webkit-text-fill-color: white;">Current Bookings</h1></div>
          <div class="w-100">
              <!-- <form method="POST" action="" class="card card-body bg-dgreen border-none">     
              {% csrf_token %}
              <div class="form-group row">
                  
                      <div class="input-group col-md-5 mx-auto text-center">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="date13-label">From:</span>
                          </div>
                          <input type="date" name="startdate" id="startdate" class="form-control datepicker">
                      </div>
                      <div class="input-group col-md-5 mx-auto text-center">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="date14-label">To:</span>
                          </div>
                          <input  type="date" name="enddate" id="startdate" class="form-control datepicker" aria-labelledby="date14-label">
                      </div>
                      <div class="input-group col-md-2 mx-auto text-center">
                          <input type="submit">
                      </div>
                  
              </div>

          </form> -->
      </div>
          
      </div>
  </div>


<div class="container-fluid d-flex justify-content-center mt-5">
  <a href="{% url 'farmer_currentbooking' %}"><button type="button"class="btn btn-dark btn-lg mx-5 mb-3">Current Bookings</button></a>
  <a href="{% url 'farmer_previousbooking'%}"><button type="button" class="btn btn-light btn-lg mx-5 mb-3">Previous Bookings</button></a>
</div>
<div class="table-layout">
  <table class="table table-hover table-striped" style="border-radius:20px;  background-image: url({%static 'farmer/bg.png' %});">
    <thead>
      <tr>
        <th scope="col">Booking Reference No.</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Warehouse</th>
        <th scope="col">Location</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    {% for booking, warehouse, price in data %}
    <tbody>
      <tr>
        <th scope="row"><a href="{% url 'farmer_invoice' booking.id %}?back={{request.build_absolute_uri}}">Booking {{booking.id}}</a></th>
        <td>{{booking.start_date}}</td>
        <td>{{booking.end_date}}</td>
        <td>{{warehouse.name}}</td>
        <td>{{warehouse.city}}</td>
        <td>{{booking.description}}</td>
        <td>{{price}}</td>
      </tr>
    </tbody>
    {% endfor %}  
  </table>
</div>


<!-- 
    <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            {%if page_obj.has_previous %} {# whether the previous page exists #}
            <a href="?page={{page_obj.previous_page_number}}">Previous<</a> {# link to the prev page #}
        {% endif %}          </li>
          
            {%if page_obj.has_next %} {# whether the next page exists #}
            <a class="page-link" href="?page={{page_obj.next_page_number}}">></a> {# link to the next page #}
        {% endif %}          </li>
        </ul>
    
      </nav> -->

<!-- 
{% for obj in data %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
{% endfor %} -->
<!-- <br> -->
<!-- {{data}} -->
<!-- <br>
has previous {{data.has_previous}}
<br>
has next {{data.has_next}}
<br>
Current page {{data.number}}
<br>
Number of pages {{data.paginator.num_pages}}
<hr>
<br> -->

<nav aria-label="..."style="color: blue;">
  <ul class="pagination pagination-sm justify-content-center" ">
    {% if data.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a> </li>
    <li class="page-item"> <a class="page-link" href="?page={{data.previous_page_number}}">Previous</a> </li>
    {% endif %}
    
    {%for i in nums %}
    <li class="page-item "><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>{{i}}
    {%endfor%}

    <li class="page-item disabled><a href="#" class="page-link">{% if data.has_next %}</a></li>

    <li class="page-item"><a class="page-link" href="?page={{data.next_page_number}}">Next</a> </li>
    {% endif %}

  </ul>
</nav>
<!-- 
<nav aria-label="...">
        <ul class="pagination">
            {% if data.has_previous %}
          <li class="page-item disabled">
            <a class="page-link" href="?page=1" tabindex="-1">First</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="/currentbooking/?page={{data.previous_page_number}}">Previous</a>
          </li>
          {% endif %}

          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item " aria-current="page">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>

          {% if data.has_next %}
          <li class="page-item">
            <a class="page-link" href="/currentbooking/?page={{data.next_page_number}}">Next</a>
          </li> -->
          <!-- {% endif %}
        </ul>
      </nav> -->


{% endblock %}
<!-- </html> -->