{% extends 'farmerbase.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'farmer/body-form.css' %}">
{% endblock%}


{% block content %}
<div class="body">
  <div style="flex:1">
  </div>
  <div class="main-form">
    <form class="fill-form" method = "post" enctype="multipart/form-data"> <!-- enctype is needed here for image upload-->
      {% csrf_token %}
      <div class="title">
        <p>
          Edit Profile
        </p>
      </div>
      <div style="text-align:center;">
        <img class="profile-img" src="{{farmer_image.url}}">
      </div>
      <div class="namee" style="display:flex;
      flex-direction: row; margin:0;">
      <input id="id" type="hidden"  name = "loggedin_userid" value = {{user.id}}>
        <div id="div1-1">
          <label for="first-name">First Name</label><br>
          {{editprofile.first_name}}
        </div>
        <div id="div1-2">
          <label for="last-name">Last Name</label><br>
          {{editprofile.last_name}}
        </div>
        
      </div>
      {% comment %} <div id="div2">
        <label for="email">Email ID</label><br>
        {{editprofile.email}}
      </div>
      {% endcomment %}
      
      <div id="div3">
        <label for="city">City</label><br>
        {{editprofile.city}}
      </div>
      
      <div id="div4">
        <label for="state">State</label><br>
        {{editprofile.state}}
      </div>
      
      <div id="div5">
        <label for="image">Upload an Image (Skip to unchange)</label><br>
        {{editprofile.image}}
      </div>
      
      
      <div id="div6">
        <label for="phone">Mobile No.</label><br>
        {{editprofile.phone_no}}
      </div>

      <div class="error-show" style="background-color: rgb(226, 87, 114);">
        
      </div>

      <div id="div7" style="display:flex; flex-direction:row; justify-content:space-around; align-items: center;">
        <div style="flex:1;">
          <a href="{% url 'farmer_profile' %}" class="btn btn-default">Cancel</a>
        </div>
        <div style="flex:1;">
          <input type="submit" value="Confirm" />
        </div>
        
      </div>
      <div class="error-show" style="background-color: rgb(226, 87, 114);">
        {{errors}}
      </div>
    </form>
  </div>
    
  <div style="flex:1;">
  </div>
</div>

{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}