{% extends 'farmerbase.html' %}
{% load static %}
{% block title %} StoreEZ | Search Warehouse {% endblock title %}

<!DOCTYPE html>
<html lang="en">

{% block css %}
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@200;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'farmer/css/newsearch.css' %}" />

{% endblock %}

{% block content %}
<form method="GET" action="">  
    {% csrf_token %}
    <div class="container-fluid text-white ff"
        style="background-color: #25381b;">
           
            
            <div class="container">
                <h3 class="text-center" style="font-size: 250%; color: #fff; padding-top: 2%;">Select date range and warehouse to book</h3>
            </div>
            <div class="row my-2 py-2 ">
                <div class="col-12 col-sm-6 d-flex my-2  px-md-5">
                    <div class="bg-successful rounded-2 d-flex align-items-center"><h5 class="px-1 mb-0" style="font-size: 130%; color: #fff; border-color: #90bc79; width: 150%;">From: </h5></div>
                    <div class="input-group date px-3" data-provide="datepicker">
                        <input type="date" class="form-control px-0">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 d-flex my-2  px-md-5">
                    <div class="bg-successful rounded-2 d-flex align-items-center"><h5 class="px-1 mb-0" style="font-size: 130%; color: #fff; border-color: #90bc79; width: 150%;">To: </h5></div>
                    <div class="input-group date px-3" data-provide="datepicker">
                        <input type="date" class="form-control">

                    </div>
                </div>

            </div>
            <div class="row my-2 py-2 ">
                <div class="col-12 col-sm-5 my-2 ">
                    <div class="d-flex align-items-center justify-content-center">
                    <div class="dropdown">
                        <button class="btn btn-successful dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="font-size: 130%; color: black;  width: 100%; background-color: whitesmoke ;">
                        Select City
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    </div>
                    
                </div>

                <div class="col-12 col-sm-2 d-flex align-items-center justify-content-center my-2  px-md-5">
                <h5 style="color: #fff;">OR</h5>
                </div>
                <div class="col-12 col-sm-5 d-flex my-2 align-items-center justify-content-center px-md-5">
                    
                    <button type="button" class="btn btn-successful" style="font-size: 130%; color: black; background-color: #fff   ;">
                        Detect Location</button>
                </div>

            </div>    
            <div class="container d-flex justify-content-center py-3">
                <button type="button" class="btn btn-light" style="font-size: 130%; color: #25381b; border:none;">Submit</button>
            </div>
    </div> 
</form>

<!-- New Code -->
<div class="container-fluid mx-0 text-white ff"
        style="background-color: #25381b;">
        <div class="container">
            <h3 class="text-center" style="font-size: 250%;">Select date range and warehouse to book</h3>
        </div>
        <div class="row my-2 py-2 ">
            <div class="col-12 col-sm-6 d-flex my-2  px-md-5">
                <div class="bg-successful rounded-2 d-flex align-items-center"><h5 class="px-1 mb-0" style="font-size: 130%; color: #90bc79; border-color: #90bc79; width: 150%;">From: </h5></div>
                <div class="input-group date px-3" data-provide="datepicker">
                    <input type="date" class="form-control px-0">

                </div>
            </div>
            <div class="col-12 col-sm-6 d-flex my-2  px-md-5">
                <div class="bg-successful rounded-2 d-flex align-items-center"><h5 class="px-1 mb-0" style="font-size: 130%; color: #90bc79; border-color: #90bc79; width: 150%;">To: </h5></div>
                <div class="input-group date px-3" data-provide="datepicker">
                    <input type="date" class="form-control">

                </div>
            </div>

        </div>
        
        <div class="row my-2 py-2 ">
            <div class="col-12 col-sm-5 my-2 ">
                <div class="d-flex align-items-center justify-content-center">
                <div class="dropdown">
                    <button class="btn btn-success btn-lg btn-clr dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                      Select City
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                
            </div>

            <div class="col-12 col-sm-2 d-flex align-items-center justify-content-center my-2  px-md-5">
            <h5>OR</h5>
            </div>
            <div class="col-12 col-sm-5 d-flex my-2 align-items-center justify-content-center px-md-5">
                
                <button type="button" class="btn btn-success btn-lg btn-clr">
                    Detect Location</button>
            </div>

        </div>    
            
        <div class="row my-2 py-2 ">
        <div class="col-12 col-sm-6 d-flex my-2  px-md-5">
            <div class="bg-successful rounded-2 d-flex align-items-center"><h5 class="px-2 mb-0" style="font-size: 130%; color: #90bc79; border-color: #90bc79; width: 150%;">Latitude: </h5></div>
            <div class="input-group text px-4" >
                <input type="text" class="form-control px-0">
                
            </div>
        </div>
        <div class="col-12 col-sm-6 d-flex my-2  px-md-5">
            <div class="bg-successful rounded-2 d-flex align-items-center"><h5 class="px-2 mb-0" style="font-size: 130%; color: #90bc79; border-color: #90bc79; width: 150%;">Longitude: </h5></div>
            <div class="input-group text px-4">
                <input type="text" class="form-control">

            </div>
        </div>

    </div>
            
            
          
                
        

        

        <div class="container d-flex justify-content-center py-3">
            <button type="button" class="btn btn-primary btn-lg btn-clr1 text-black" >Submit</button>
        </div>
    </div> 
<!-- End code -->

<div class="row ">
    {% for warehouse_data in data %}
    <div class="col-lg-4 col-md-6 col-12 d-flex justify-content-center">
        <div class="card my-3  my-sm-5 ff" style="width: 20rem; background-color: #25381b;">
            <div class="container">
                <h3 ><a class="text-white" href="{% url 'book' id=warehouse_data.warehouse.id start=startdate end=enddate %}">{{warehouse_data.warehouse.name|capfirst}}</a></h3>
            </div>
            <div >
                <p>Address: {{warehouse_data.city}}</p>
                <p>Distance: {{warehouse_data.distance |floatformat:"2" }} km</p>
            </div>
            <ul class="list-group list-group-flush">
                
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4" style="font-weight: bold;">Type</div>
                        <div class="col-4" style="font-weight: bold;">Units</div>
                        <div class="col-4" style="font-weight: bold;">Capacity</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4">Standard</div>
                        <div class="col-4">{{warehouse_data.hot_units}}</div>
                        <div class="col-4">{{warehouse_data.hot_capacity}}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4">Climate-Control</div>
                        <div class="col-4">{{warehouse_data.cold_units}}</div>
                        <div class="col-4">{{warehouse_data.cold_capacity}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {% endfor %}
    


</div>


<nav aria-label="..."style="color: blue;">
    <ul class="pagination pagination-sm justify-content-center" ">
        {% if data.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1&startdate={{startdate}}&enddate={{enddate}}&latitude={{latitude}}&longitude={{longitude}}">&laquo First</a> </li>
        <li class="page-item"> <a class="page-link" href="?page={{data.previous_page_number}}&startdate={{startdate}}&enddate={{enddate}}&latitude={{latitude}}&longitude={{longitude}}">Previous</a> </li>
        {% endif %}
        
        {%for i in nums %}
        <li class="page-item "><a class="page-link" href="?page={{forloop.counter}}&startdate={{startdate}}&enddate={{enddate}}&latitude={{latitude}}&longitude={{longitude}}">{{forloop.counter}}</a></li>{{i}}
        {%endfor%}
    
        <li class="page-item disabled><a href="#" class="page-link">{% if data.has_next %}</a></li>
    
        <li class="page-item"><a class="page-link" href="?page={{data.next_page_number}}&startdate={{startdate}}&enddate={{enddate}}&latitude={{latitude}}&longitude={{longitude}}">Next</a> </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}



{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
{% endblock %}