{% extends 'farmerbase.html' %}
{% load static %}
{% block title %}Farmer | Profile{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'Warehouse/css/profile.css' %}">
{% endblock %}

{%block content%}
<div class="container profile-wrapper">
  <div class="row">
    <div class="col-12">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="{{farmer.image.url}}">
        </div>
        <div class="team-content">
          <h3 class="name">{{farmer.first_name | capfirst}} {{farmer.last_name | capfirst}}</h3>
          <div class="details">
            <h4>Details</h4>
            <p>Email: {{farmer.email}}</p>
            <p>Phone No: {{farmer.phone_no}}</p>
          </div>
        </div>
        <a href="{% url 'farmer_editprofile' %}">
          <div class="edit"> 
              <button>Edit Profile</button>
            </div>
        </a>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}