{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoreEZ | search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'farmer/datepicker.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'farmer/cascade.css' %}" />
</head>
<body class="bg-grey">

<div class="container-fluid" >
    <div class="bg-dgreen">
        <div class="bg-dgreen py4 d-flex flex-column justify-content-end align-items-center mb-4 rempad">
            <div class="font-large py-5">The Warehouses you want, We will provide</div>
            <div class="w-100">
                <form method="post" action="#" class="card card-body bg-dgreen border-none">     {% csrf_token %}

                <div class="form-group row">
                    
                        <div class="input-group col-md-5 mx-auto text-center">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="date13-label">From:</span>
                            </div>
                            <input type="date" name="startdate" id="startdate" class="form-control datepicker">
                        </div>
                        <div class="input-group col-md-5 mx-auto text-center">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="date14-label">To:</span>
                            </div>
                            <input  type="date" name="enddate" id="enddate" class="form-control datepicker" aria-labelledby="date14-label">
                        </div>
                        <div class="input-group col-md-2 mx-auto text-center">
                            <input type="submit">
                        </div>
                    
                </div>

            </form>
        </div>
            
        </div>
    </div>

   <h4>Start Date</h4> {{startdate}} <br>
   <h4>End Date</h4>{{enddate}} <br>
<div class="">
    <div class="row mb-5">
        {% for warehouse_data in warehouses_with_unit %}
        <div class="card col-xl-2 col-9 mx-auto my-2 bg-green px-0" >
          
            <div class="card-body">
              <h4 class="card-title">
             <a href="{% url 'book' id=warehouse_data.warehouse.id start=startdate end=enddate %}">{{warehouse_data.warehouse.name}}</a></h4> 
              <!-- <p class="card-text">Location: iska to muje malum nai pan lamba hi hoga, isliye garbage text daala hai baaki tum log dekh lena thank you</p> -->
              <!-- <p class="card-text">Rating: Gandi</p> -->
              <h5 class="card-text">
                {% for unit in warehouse_data.units %}
                <a href="">{{ unit.id }}</a>
                {% endfor %}
            </h5>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>

        <!-- <div class="card col-xl-2 col-9 mx-auto my-2 bg-green px-0" >
            
            <div class="card-body">
              <h4 class="card-title">Name</h4> 
              <p class="card-text">Location: iska to muje malum nai pan lamba hi hoga, isliye garbage text daala hai baaki tum log dekh lena thank you</p>
              <p class="card-text">Rating: Gandi</p>
              <h5 class="card-text">1 unit left</h5>
            </div>
        </div>
        <div class="card col-xl-2 col-9 mx-auto my-2 bg-green px-0" >
            
            <div class="card-body">
              <h4 class="card-title">Name</h4> 
              <p class="card-text">Location: iska to muje malum nai pan lamba hi hoga, isliye garbage text daala hai baaki tum log dekh lena thank you</p>
              <p class="card-text">Rating: Gandi</p>
              <h5 class="card-text">1 unit left</h5>
            </div>
        </div>
        <div class="card col-xl-2 col-9 mx-auto my-2 bg-green px-0" >
            
            <div class="card-body">
              <h4 class="card-title">Name</h4> 
              <p class="card-text">Location: iska to muje malum nai pan lamba hi hoga, isliye garbage text daala hai baaki tum log dekh lena thank you</p>
              <p class="card-text">Rating: Gandi</p>
              <h5 class="card-text">1 unit left</h5>
            </div>
        </div>
    </div>
    
    <div class="row mb-5">
        <div class="card col-xl-2 col-9 mx-auto my-2 bg-green" >
            
            <div class="card-body">
              <h4 class="card-title">Name</h4> 
              <p class="card-text">Location: iska to muje malum nai pan lamba hi hoga, isliye garbage text daala hai baaki tum log dekh lena thank you</p>
              <p class="card-text">Rating: Gandi</p>
              <h5 class="card-text">1 unit left</h5>
            </div>
        </div>
        <div class="card col-xl-2 col-9 mx-auto my-2 bg-green" >
            
            <div class="card-body">
              <h4 class="card-title">Name</h4> 
              <p class="card-text">Location: iska to muje malum nai pan lamba hi hoga, isliye garbage text daala hai baaki tum log dekh lena thank you</p>
              <p class="card-text">Rating: Gandi</p>
              <h5 class="card-text">1 unit left</h5>
            </div>
        </div>
        <div class="card col-xl-2 col-9 mx-auto my-2 bg-green" >
            
            <div class="card-body">
              <h4 class="card-title">Name</h4> 
              <p class="card-text">Location: iska to muje malum nai pan lamba hi hoga, isliye garbage text daala hai baaki tum log dekh lena thank you</p>
              <p class="card-text">Rating: Gandi</p>
              <h5 class="card-text">1 unit left</h5>
            </div>
        </div>
        <div class="card col-xl-2 col-9 mx-auto my-2 bg-green" >
            
            <div class="card-body">
              <h4 class="card-title">Name</h4> 
              <p class="card-text">Location: iska to muje malum nai pan lamba hi hoga, isliye garbage text daala hai baaki tum log dekh lena thank you</p>
              <p class="card-text">Rating: Gandi</p>
              <h5 class="card-text">1 unit left</h5>
            </div>
        </div>
    </div>
     -->

<!-- 
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  const getNavigatorLanguage = () => (navigator.languages && navigator.languages.length) ? navigator.languages[0] : navigator.userLanguage || navigator.language || navigator.browserLanguage || 'en';
</script>
<script src="datepicker.js"></script>
<script>
    (function($) {
        $(function() {
            const getNavigatorLanguage = () => (navigator.languages && navigator.languages.length) ? navigator.languages[0] : navigator.userLanguage || navigator.language || navigator.browserLanguage || 'en';
            $(".datepicker")
                .filter(function() {
                    return !this.disabled && !this.readOnly;
                })
                .datepicker({ gainFocusOnConstruction: false, markup: 'bootstrap4' });
           $('#date13').datepicker('next', '#date14');
        });
    })(this.jQuery);
</script> -->

</body>
</html>