hello<br>

<form action = "" method = "POST">
    {% csrf_token %}
    <input type="date" id = "startdate" name = "startdate">
    <input type="date" id = "enddate" name = "enddate">
    <input type="submit">
</form>

{{startdate}} <br>
{{enddate}} <br>

{% for warehouse_data in warehouses_with_unit %}
<a href="{% url 'book' id=warehouse_data.warehouse.id start=startdate end=enddate %}">{{warehouse_data.warehouse.name}}</a><br>
    <p>units</p>
    {% for unit in warehouse_data.units %}
        <a href="">{{ unit.id }}</a>
    {% endfor %}
    <br>
{% endfor %}