{% extends 'farmerbase.html' %}
{% load static %}
{% block title %} StoreEZ | Search Warehouse {% endblock title %}

{% block css %}
{% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> {% endcomment %}

<link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@200;600;700&display=swap"
    rel="stylesheet">


    <link rel="stylesheet" href="{% static 'farmer/css/swar.css' %}" />
{% endblock %}


{% block content %}
<div class="container-fluid mx-0 text-white ff" style="background-color: #25381b;">
    <div class="container">
        <h3 class="text-center" style="font-size: 250%; color: white;">Select date range and warehouse to book</h3>
    </div>
    <div>
        <form method="GET" action="">
            {% csrf_token %}
            <div class="row my-2 py-2 ">
                <div class="col-12 col-sm-6 my-2  px-md-5">
                    <div class="row">
                        <div class="col-2 bg-successful rounded-2 d-flex align-items-center">
                            <h5 class="px-1 mb-0"
                                style="font-size: 130%; color: white; border-color: #90bc79; width: 150%;">
                                From: </h5>
                        </div>
                        <div class="col-10">
                            <div class=" input-group date px-3" data-provide="datepicker">
                                <input type="date" class="form-control px-0" value="{{startdate}}" name = "startdate">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 my-2  px-md-5">
                    <div class="row">
                        <div class="col-2 bg-successful rounded-2 d-flex align-items-center">
                            <h5 class="px-1 mb-0"
                                style="font-size: 130%; color: white; border-color: #90bc79; width: 150%;">To:
                            </h5>
                        </div>
                        <div class="col-10">
                            <div class="input-group date px-3" data-provide="datepicker">
                                <input type="date" class="form-control" value="{{enddate}}" name = "enddate">

                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="row my-2 py-2 ">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 my-2">
                    <div class="row">
                        <div class="col-2 col-lg-3 bg-successful rounded-2 d-flex align-items-center">
                            <h5 class="px-2 mb-0"
                                style="font-size: 130%; color: white; border-color: #90bc79; width: 150%;">
                                Latitude: </h5>
                        </div>
                        <div class="col-10 col-lg-9">
                            <div class="input-group text px-3">
                                <input type="text" class="form-control px-0" disabled value="{{latitude}}" id = "latitude" name = "latitude">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4  my-2 ">
                    <div class="row">
                        <div class="col-2 col-lg-3 bg-successful rounded-2 d-flex align-items-center">
                            <h5 class="px-2 mb-0"
                                style="font-size: 130%; color: white; border-color: #90bc79; width: 150%;">
                                Longitude: </h5>
                        </div>
                        <div class="col-10 col-lg-9">
                            <div class="input-group text px-3   ">
                                <input type="text" class="form-control" disabled value="{{longitude}}" id="longitude" name = "longitude">

                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-4 d-flex my-2 align-items-center justify-content-center px-md-5 det-btn">

                    <button type="button" class="btn btn-primary btn-clr " style="color:black" >
                        Detect Location</button>
                </div>
            </div>


            <div class="container d-flex justify-content-center py-3">
                <button type="submit" class="btn btn-primary btn-clr1 text-black" style="color:black">Submit</button>
            </div>
        </form>
    </div>
</div>



{% if messages %}
<script>
    function closeAlert(element) {
        var alert = element.parentElement;
        alert.style.display = 'none';
    }
</script>
{% for message in messages %}
{% if message.tags == "success" %}
<div class="alert success-alert">
    <h3>Success Alert Message</h3>
    <a class="close">&times;</a>
</div>
{% elif message.tags == "error" %}
<div class="alert danger-alert">
    <h3>{{message}}</h3>
    <a class="close" onclick="closeAlert(this)">&times;</a>
</div>

{% else %}
<div class="alert warning-alert">
    <h3>Warning Alert Message</h3>
    <a class="close">&times;</a>
</div>
{% endif %}

{% endfor %}
{% endif %}


<div class="row ">

    {% for warehouse_data in data %}
    <div class="col-lg-4 col-md-6 col-12 d-flex justify-content-center">
        <div class="card my-3  my-sm-5 ff" style="width: 20rem; background-color: #25381b;">
            <div class="container">
                <h3 class="text-white"><a id="my_card_title" href="{% url 'book' id=warehouse_data.warehouse.id start=startdate end=enddate %}" style="color:white">{{warehouse_data.warehouse.name}}-{{warehouse_data.warehouse.id}}</a></h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4">City</div>
                        <div class="col-4">Bombay</div>

                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4">Distance:</div>
                        <div class="col-4">{{warehouse_data.distance |floatformat:"2" }} km</div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4" style="font-weight: bold;">Type</div>
                        <div class="col-4" style="font-weight: bold;">Units</div>
                        <div class="col-4" style="font-weight: bold;">Capacity</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4">Standard</div>
                        <div class="col-4">{{warehouse_data.hot_units}}</div>
                        <div class="col-4">{{warehouse_data.hot_capacity}}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4">Climate-Control</div>
                        <div class="col-4">{{warehouse_data.cold_units}}</div>
                        <div class="col-4">{{warehouse_data.cold_capacity}}</div>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}

{%block js%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <script defer src="{% static 'farmer/register.js' %}"></script>
{% endblock %}