@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap'); 
*
{
    margin: 0;padding: 0;
    font-family: 'PT Sans', sans-serif;

}

:root{
    --var-primary-color1:#fff;
    --var-primary-color2:#4361ee;
    --var-primary-color3:#bfd1e5;
}
html
{
    font-size: 62.5%; 
}
h1
{
    font-size: 4.8rem;
    color: var(--var-primary-color1);
}
h2{
    font-size: 3rem;
    color: var(--var-primary-color1);
}
p{
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
    color: var(--var-primary-color1);
}

button,input[type="submit"]
{
    border: 0.1rem solid #fff;
    outline:none;
    padding: 0.6rem 1.2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    background-color: transparent;
    color: var(--var-primary-color1);
    cursor: pointer;
}

body{
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
    /* background-image: */
    background-color: rgb(147, 144, 140);
}
nav{
    width: 100vw;
    height: 10vh;
}
main{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rebeccapurple; */
}

.registration, .login
{
    min-height: 25rem;
    min-width: 40vw;
    /* background-color: aqua; */
}
.grid-two-coloumn
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.left
{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.left p
{
    width: 30ch;
    text-align: center;
    margin: 2rem 0 3rem 0;
}

.left button
{
    border-radius: 4px;
}
.left button:hover
{
    /* background-color: red; */
    background-image: linear-gradient(rgba(0,0,0, 0.2),rgba(0,0,0, 0.15))
}

.registration-right, .login-right
{
    width: 100%;
    min-height: 45vh;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons
{
    display: flex;
    gap: 1.4rem;
    margin: 1rem 0 0.6rem 0;
}
.icons a
{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.1rem solid white;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    /* background-color: blueviolet; */
    font-size: 2rem;
    text-decoration: none;
    color: var(--var-primary-color3);
}
.icons a:hover
{
    /* background-color: red; */
    background-image: linear-gradient(rgba(0,0,0, 0.2),rgba(0,0,0, 0.15))
}

input{
    width: 20rem;
    margin: 0.7rem 0;
    border: none;
    background-color: #e8e8e8;
    padding: 1rem 1.8rem;
    letter-spacing: 0.06rem;
}
input:hover
{
    /* background-color: red; */
    background-image: linear-gradient(rgba(0,0,0, 0.07),rgba(0,0,0, 0.13))
}
input[type="submit"]
{
    margin-top: 1rem;
    min-width: 10rem;
    background-color: var(--var-primary-color2);
    color: var(--var-primary-color1);
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

input[type="submit"]:hover
{
    /* background-color: red; */
    background-image: linear-gradient(rgba(0,0,0, 0.2),rgba(0,0,0, 0.15))
}

.input-field
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login:not(.login-section)
{
    display: none;
}
.login-section .login
{
    display: block;
}
.login-section .registration
{
    display: none;
}