.ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
h1{
  font-size: 2.3rem;
  text-align: left;
  width: 7%;
  /* float:left */
}
/* body {
  background-color: #90bc79;
} */
.box{
  background-color: #4f6f52;
  margin-bottom: 40px ;
}
.top-box{
  margin: auto;
  width: 70%;
  padding: 5%;
  
}
.top-box h2,h6{
  color: #fff;
  padding: 2px;
}

.unit-box{
  border-style: solid;
}
.row{
  margin-top: 2%;
  border-color: #121212;
}
.unit-header{
  text-align: center;
  background-color: #4F6F52;
  padding: 8% 12% 8% 12%;
  border-radius: 0.8rem;
  color: #fff;
}
.new_unit{
  position: relative;
  left: 80%;
  display: inline-block;
  margin-left: 2%;
  /* margin-bottom: 4%; */
  color: #121212  ;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
  color:  #90bc79;
  background-color: #90bc79;

}
.ag-courses_item {
  /* -ms-flex-preferred-size: calc(20% - 10px);
  flex-basis: calc(20% - 10px); */

  margin: 0 15px 30px;
  background-color: #90bc79;
  /* width: 30%; */
  overflow: hidden;
  border-radius: 28px;
  border-style: solid;
  /* border-color: #121212; */

}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #fff;
  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 54px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #121212;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #557C55;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #557C55;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
/* .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
} */

*:before,
*:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input[type="date"]{
  background-color: #4a5d5e;
  padding: 0.5%;
  /* position: absolute; */
  /* transform: translate(-50%,-50%); */
  /* top: 50%; */
  /* left: 50%; */
  font-family: "Roboto Mono",monospace;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}